
menuconfig UIKIT_DEMO
	tristate "UIKit Demo"
	default n
	depends on GRAPHICS_LVGL
	---help---
		Enable build the UIKit Demo programs

if UIKIT_DEMO

config UIKIT_DEMO_PRIORITY
	int "uikit_demo task priority"
	default 100

config UIKIT_DEMO_STACKSIZE
	int "uikit_demo stack size"
	default 32768

config UIKIT_DEMO_VIDEO
	bool "Enable video demo"
	depends on UIKIT_VIDEO_ADAPTER
	default n

config UIKIT_DEMO_VECTOR_DRAW
	bool "Enable vector complex draw demos"
	depends on LV_USE_VECTOR_GRAPHIC
	default n

config UIKIT_DEMO_FONT_STRESS
	bool "Enable font stress demo"
	depends on LV_USE_VECTOR_GRAPHIC
	default n

if UIKIT_DEMO_VIDEO

config LVX_DEFAULT_VIDEO_PATH
	string "Defailt video path in video example"
	default "/data/h264_aac_240p.mp4"

endif # UIKIT_DEMO_VIDEO

config UIKIT_DEMO_BANDX
	bool "Smart Band demo"
	depends on LV_USE_FRAGMENT && LV_USE_LIBPNG && LV_USE_FREETYPE
	default n

config UIKIT_DEMO_TIME_OBJCREATION
	bool "Time object creation demo"
	default n

endif # UIKIT_DEMO
