#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig LVGL_EXTENSION
	bool "Enable LVGL extension"
	default n
	---help---
		Enable LVGL extension

if LVGL_EXTENSION

menuconfig LVX_USE_FONT_MANAGER
	bool "LVX_USE_FONT_MANAGER"
	default y
	depends on LV_USE_FREETYPE
	---help---
		Enable font-manager for freetype fonts.

if LVX_USE_FONT_MANAGER

config FONT_LIB_PATH
	string "Font library path"
	default "/data/"
	---help---
		The path of the font library. eg:
		/data/	, /data/font/xxxxxL
		Note: '/' is required at the end of the string.

choice FONT_CREATE_TYPE_CHOICE
	prompt "Choose font create type"
	default FONT_CREATE_TYPE_BITMAP
	---help---
		Select the font create type

	config FONT_CREATE_TYPE_BITMAP
		bool "Bitmap"
	config FONT_CREATE_TYPE_OUTLINE
		bool "Outline"
endchoice

config FONT_CREATE_TYPE
	int
	default 0 if FONT_CREATE_TYPE_BITMAP
	default 1 if FONT_CREATE_TYPE_OUTLINE

config FONT_NAME_MAX
	int "Font name max length"
	default 32

config FONT_EXT_NAME
	string "Font file extension"
	default "ttf"

config FONT_EXT_MAX
	int "Font file extension max length"
	default 8

config FONT_CACHE_SIZE
	int "Font cache size"
	default 8
	---help---
		The maximum number of caches for reuse freetype info

config FONT_USE_LV_FONT_DEFAULT
	bool "Use LV_FONT_DEFAULT when font creation fails"
	default y

config FONT_USE_FONT_FAMILY
	bool "Enable font-family"
	select NETUTILS_CJSON
	default n

config FONT_CONFIG_FILE_PATH
	string "Font config file path"
	depends on FONT_USE_FONT_FAMILY
	default "/etc/font_config.json"

config FONT_USE_EMOJI
	bool "Enable emoji support"
	depends on FONT_USE_FONT_FAMILY
	default y

config FONT_EMOJI_HEADER
	string "Name header used to identify Emoji"
	depends on FONT_USE_EMOJI
	default "Emoji"

endif # LVX_USE_FONT_MANAGER

config LVX_USE_VIDEO_ADAPTER
	bool "Enable video adapter based on media server"
	depends on MEDIA_SERVER && NETUTILS_CJSON
	default n

if LVX_USE_VIDEO_ADAPTER

config LVX_VIDEO_CONFIG_FILE_PATH
	string "Video config file path"
	default "/etc/lvx_video_config.json"

endif # LVX_USE_VIDEO_ADAPTER

config LVX_USE_QRSCAN
	bool "QR scan library"
	depends on LIB_QUIRC
	default n

source "$APPSDIR/graphics/lvgl/ext/test/Kconfig"

endif # LVGL_EXTENSION
