#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig LVGL_EXTENSION
	bool "Enable LVGL extension"
	default n
	---help---
		Enable LVGL extension

if LVGL_EXTENSION

menuconfig LVX_USE_FONT_MANAGER
	bool "LVX_USE_FONT_MANAGER"
	default y
	depends on LV_USE_FREETYPE
	---help---
		Enable font-manager for freetype fonts.

if LVX_USE_FONT_MANAGER

config FONT_LIB_PATH
	string "Font library path"
	default "/data/"
	---help---
		The path of the font library. eg:
		/data/	, /data/font/xxxxxL
		Note: '/' is required at the end of the string.

config FONT_PATH_MAX
	int "Font path max length"
	default 128

config FONT_NAME_MAX
	int "Font name max length"
	default 32

config FONT_EXT_NAME
	string "Font file extension"
	default "ttf"

config FONT_EXT_MAX
	int "Font file extension max length"
	default 8

config FONT_CACHE_SIZE
	int "Font cache size"
	default 8
	---help---
		The maximum number of caches for reuse freetype info

config FONT_USE_LOG_USER
	bool "Use LV_LOG_USER to print details"
	default n

config FONT_USE_LV_FONT_DEFAULT
	bool "Use LV_FONT_DEFAULT when font creation fails"
	default y

config FONT_USE_FONT_FAMILY
	bool "Enable font-family"
	select NETUTILS_CJSON
	default n

config FONT_CONFIG_FILE_PATH
	string "Font config file path"
	depends on FONT_USE_FONT_FAMILY
	default "/etc/font_config.json"

config FONT_USE_EMOJI
	bool "Enable emoji support"
	depends on FONT_USE_FONT_FAMILY
	default y

config FONT_EMOJI_HEADER
	string "Name header used to identify Emoji"
	depends on FONT_USE_EMOJI
	default "Emoji"

endif # LVX_USE_FONT_MANAGER

config LVX_USE_RLE
	bool "RLE binary file compression support"
	default y
	---help---
		Enalbe decoder to file .rle. When enabled, rle file decoder is
		registered to lvgl.

config LVX_USE_BIN_DECODER
	bool "Custom binary file decoder that load full bin to RAM"
	default n
	---help---
		Enalbe decoder to file .bin. Unlike the lvgl default bin decoder, this
		one read all file data to buffer.


endif # LVGL_EXTENSION
